<div class="characters__pagination">
  <% current_page = params[:page].present? ? params[:page].to_i : 1 %>

  <div class="characters__pagination-btn">
    <% if current_page > 1 %>
      <%= button_to("<", characters_path, method: :get, params: {
        page: current_page - 1,
        search: params[:search]
      }) %>
    <% end %>
  </div>

  <p>Page <%= current_page %></p>

  <div class="characters__pagination-btn">
    <% if @next_page_exists %>
      <%= button_to(">", characters_path, method: :get, params: {
        page: current_page + 1,
        search: params[:search]
      }) %>
    <% end %>
  </div>
</div>
