.characters {
  &__container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__search-form {
    display: flex;
    justify-content: space-between;
    width: 390px;
    padding: 20px;
    background-color: $lightGrey;
    border-radius: 5px;
    box-shadow: $boxShadow;
    margin: 0 5px 20px 5px;
    position: relative;
  }

  &__search-input {
    display: flex;
    align-items: center;
    height: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    box-shadow: $boxShadow ;
    font-size: 14px;
    color: black;
    padding: 10px;
    margin-right: 10px;
  }

  &__search-btn {
    background-color: $yellow;
    height: 30px;
    padding: 0 10px;
    border: none;
    border-radius: 5px;
    box-shadow: $boxShadow;
    font-weight: bold;
    cursor: pointer;
  }

  &__list {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 440px;

    ul {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      position: relative;
      width: 100%;
      padding: 0;
      margin: 0;
    }
  }

  &__list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    list-style: none;
    background-color: $lightGrey;
    border-radius: 5px;
    box-shadow: $boxShadow;
    padding: 10px;
    margin: 0 5px 10px 5px;
    overflow: visible;
    text-align: left;
  }

  &__pagination {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    margin-bottom: 40px;
  }

  &__pagination-btn {
    min-width: 30px;
  }
}
